@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --customGreen: hsl(165, 83%, 35%);
    --customLightGreen: hsl(166, 39%, 89%);
    --customAccentYellow: hsl(40, 99%, 66%);
    --customAccentMaroon: hsl(360, 83%, 70%);
    --customNeutral: hsl(0, 0%, 94%);
    --customGray: hsl(0, 0%, 67%);
    --customDark100: hsl(228, 11%, 57%);
    --customDark200: hsl(225, 10%, 33%);
    --customDark300: hsl(225, 9%, 27%);
    --customDark400: hsl(228, 6%, 17%);
    --customDark500: hsl(228, 8%, 13%);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    .history-item-template {
        grid-template-columns: 2rem 1fr 4rem;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .loading-div {
        @apply relative h-16 w-full overflow-hidden rounded-2xl bg-customLightGreen;
    }

    .loading-div::before {
        content: "";
        @apply absolute left-0 top-0 h-full w-[200%] rounded-2xl;
        background-image: linear-gradient(
            to right,
            transparent,
            white,
            transparent,
            transparent,
            white,
            transparent
        );
        animation: loading-animation 3s infinite;
    }

    @keyframes loading-animation {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}
